@using Model;
@using BLL;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Lauout</title>
    <link href="~/Css/layout.css" rel="stylesheet"/>
</head>
<body>
    <nav>
        <div>
            <img src="~/Img/登录注册/plane.png" />
        </div>
        <ul class="nav">
            <li><a href="#">首页</a></li>
            <li><a href="#">家教</a></li>
            <li><a href="#">教员</a></li>
            <li><a href="#">课程</a></li>
        </ul>
        <form class="nav-form">
            <div>
                <span>家教</span>
                <ul style="display:none">
                    <li>家教</li>
                    <li>学员</li>
                </ul>
            </div>
            <input type="text" value="请输入关键字"/>
            <input type="submit" value="搜索"/>
        </form>
    </nav>
    <div class="content">
        @RenderBody() 
    </div>
    <footer>
        <div>&copy; Sam </div>
    </footer>
</body>
</html>
