
@{
    ViewBag.Title = "Ssearchresult";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<div>
    <div class="searchbar">
        <div>
            <strong>所在区域</strong>
            <div>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div>
            <strong>求教学科</strong>
            <div>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <span>tsakname</span>
                <span>pub-time</span>
            </div>
            <div>
                <ul>
                    <li>
                        <strong>所在区域</strong>
                        <span></span>
                    </li>
                    <li>
                        <strong>求教学科</strong>
                        <span></span>
                    </li>
                    <li>
                        <strong>课时费</strong>
                        <span></span>
                    </li>
                    <li>
                        <strong>订单状态</strong>
                        <span></span>
                    </li>
                    <li>
                        <strong>学员性别</strong>
                        <span></span>
                    </li>
                    <li>
                        <strong>备注要求</strong>
                        <span></span>
                    </li>
                    <li>
                        <strong>预约人数</strong>
                        <span></span>
                    </li>
                </ul>
            </div>
            <div>
                <button>点击应聘</button>
            </div>
        </div>
    </div>
</div>
