@*@model Model.Teacher*@
@{ 
    Model.Teacher teachervm = ViewBag.loginviewmodel;
}
<div class="before">
    <div class="choosebar">
        <span>教员登录</span>
        <span>学员登录</span>
    </div>
    <div class="inputbox">
        <div class="teacherbox">
            @using (Html.BeginForm("login", "User", FormMethod.Post))
            {
                <ul>
                    <li>
                        <label>用户名</label>
                        @*@Html.TextBoxFor(t => teachervm.Tuser_name, new { placeholder = "请输入教员账号", @class = "pad", type = "text" })*@
                        <input class="pad" id="teachervm_Tuser_name" name="Tuser_name" type="text" placeholder="请输入教员账号"/>
                    </li>
                    <li>
                        <label>密 &nbsp; 码</label>
                        @*@Html.TextBoxFor(t => teachervm.Tpwd, new { placeholder = "请输入密码", @class = "pad", type = "password" })*@
                        <input class="pad" id="teachervm_Tpwd" name="Tpwd" type="password" placeholder="请输入密码" autocomplete="on"/>
                    </li>
                    <li>
                        <input type="checkbox" />记住我的登录状态
                    </li>
                    <li>
                        <input type="submit" value="登录" />
                    </li>
                </ul>
            }
        </div>
        <div class="studentbox" style="display:none;">
            <form>
                <ul>
                    <li>
                        <label>用户名</label>
                        <input class="pad" type="text" placeholder="请输入学员账号" />
                    </li>
                    <li>
                        <label>密 &nbsp; 码</label>
                        <input class="pad" type="password" placeholder="请输入密码" autocomplete="on" />
                    </li>
                    <li>
                        <input type="checkbox" />记住我的登录状态
                    </li>
                    <li>
                        <input type="submit" value="登录" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="regbox">
        <a href="#">学员注册</a>
        <a href="#">教员注册</a>
    </div>
</div>