@model Tutor.UI.ViewModels.IndexVM
@using Model;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/index.css" rel="stylesheet"/>
<link href="~/Css/font-awesome.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.3.1.js"></script>

<div class="firstdiv">
    <div class="selectdiv">
        <ul>
            <li>
                <div class="choose" id="choosegrade">
                    <span>选择年级</span>
                    <span class="fa fa-sort-desc fa-2x triangle"></span>
                    <ul>
                        <li>学前教育</li>
                        @*@foreach (var item in Model.grade)
                            {
                                <li><span>@item.Grade1</span></li>
                            }*@
                    </ul>
                </div>
            </li>
            <li>
                <div class="choose" id="choosesub">
                    <span>选择学科</span>
                    <span class="fa fa-sort-desc fa-2x triangle"></span>
                    <ul>
                        <li>小学语文</li>
                        @*@foreach(var item in Model.subject)
                            {
                                <li><span>@item.subject</span></li>
                            }*@
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="logindiv">
        <div>
            <div class="choosebar">
                <span>学员登录</span>
                <span>教员登录</span>
            </div>
            <div class="inputbox">
                <div class="teacherbox">
                    <form>
                        <ul>
                            <li>
                                <label>用户名</label>
                                <input class="pad" type="text" placeholder="请输入用户名" />
                            </li>
                            <li>
                                <label>密 &nbsp; 码</label>
                                <input class="pad" type="password" placeholder="请输入密码" />
                            </li>
                            <li style="display:none;">
                                <a href="#">忘记密码</a>
                            </li>
                            <li>
                                <input type="checkbox" />记住我的登录状态
                            </li>
                            <li>
                                <input type="submit" value="登录" />
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="studentbox" style="display:none;">
                    <form>
                        <ul>
                            <li>
                                <label>用户名</label>
                                <input type="text" placeholder="请输入用户名" />
                            </li>
                            <li>
                                <label>密 &nbsp; 码</label>
                                <input type="password" placeholder="请输入密码" />
                            </li>
                            <li>
                                <a href="#">忘记密码</a>
                            </li>
                            <li>
                                <input type="checkbox" />记住我的登录状态
                            </li>
                            <li>
                                <input type="submit" value="登录" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div>
                <a href="#">学员注册</a>
                <a href="#">教员注册</a>
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <div title=""><h2>新注册的家教</h2></div>
            <div class="nextpage">
                <span>
                    <span>1</span>/<span>8</span>
                </span>
                <a href="#">上一个</a>
                <a href="#">下一个</a>
            </div>
            <ul>
                <li>
                    <div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div>

    </div>
</div>
<script>
    $("#choosegrade>span").hover(function () {
        $("#choosegrade>ul").fadeIn(700).css("display", "block");
    }).mouseleave(function () {
        $("#choosegrade>ul").fadeOut(700).css("display", "none");
    });
    //$("#choosegrade>span").hover(function () {
    //    $("#choosegrade>ul").show(800);
    //});
</script>