<div class="after">
    <div>
        <span>公告</span>
    </div>
    <div>
        <ul>
            <li>
                <span><a href="#">常见使用问题</a></span>
                <span>5-18</span>
            </li>
            <li>
                <span><a href="#">家教价格参考</a></span>
                <span>4-28</span>
            </li>
            <li>
                <span><a href="#">搜狐网报道提优特</a></span>
                <span>5-15</span>
            </li>
            <li>
                <span><a href="#">新浪网报道提优特</a></span>
                <span>2-28</span>
            </li>
            <li>
                <span><a href="#">凤凰网报道提优特</a></span>
                <span>4-21</span>
            </li>
        </ul>
    </div>
</div>
