
@{
    ViewBag.Title = "searchresult";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/searchresult.css" rel="stylesheet"/>
<div>
    <div class="searchbar">
        <div class="area">
            <strong>所在区域</strong>
            <div>
                <ul class="ulmp">
                    <li>从数据库查出所有老师available的区域去重展示</li>
                </ul>
            </div>
        </div>
        <div class="area">
            <strong>性别要求</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    <li>男</li>
                    <li>女</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="result">
        <div class="singleresult">
            <div>
                <img src="~/Img/登录注册/rg.jpg" style="width:120px;height:120px;" />
            </div>
            <div>
                <p style="margin-top:0;">刘强东</p>
                <div>
                    <span>家教经验</span>
                    <strong>2年</strong>
                    <span>课时费</span>
                    <strong>50</strong>
                </div>
                <div>
                    <span>学校专业</span>
                    <strong>江西师范大学</strong>
                </div>
                <div>
                    <span>教授科目</span>
                    <strong>小学语文，高中英语</strong>
                </div>
                <div>
                    <span>接受区域</span>
                    <strong>青山湖区</strong>
                </div>
                <div>
                    <span>个人简介</span>
                    <strong>大家好，我叫刘强bababab</strong>
                </div>
            </div>
        </div>
    </div>
</div>