.firstdiv:after{
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}
.firstdiv{
    display:flex;
    justify-content:center;
}
.selectdiv{
    float:left;
    width:55%;
    background-color:beige;
    height:330px;
    position:relative;
}
.selectdiv>ul{
    position:absolute;
    top:8%;
    left:8%;
}
.selectdiv>ul>li{
    margin-bottom:18px;
}
.choose{
    position:relative;
}
.choose>ul{
    display:none;
    font-size:1.1em;
    position:absolute;
    top:30px;
    left:-1px;
    padding:0 19px;
}
.choose span:first-child{
    border:1px solid;
    padding:5px 30px 5px 5px;
    font-size:1.1em;
}
.triangle{
    position:absolute;
    left:80px;
    top:-10px;
}
.logindiv{
    float:left;
    width:23%;
    background-color:lightpink;
}
.choosebar{
    font-weight:bold;
    font-size:20px;
    display:flex;
    justify-content:space-evenly;
}
.choosebar span{
    padding:10px 37px;
}
.choosebar span:nth-child(2){
    border-bottom:1px solid;
    border-left:1px solid;
}
.inputbox form {
    text-align:center;
}
.inputbox form ul{
    padding:0;
}
.inputbox form ul li{
    margin:20px 0;
}
.inputbox form ul .pad{
    padding:8px;
}
.inputbox form ul:last-child{

}
.regbox{
    display:flex;
    justify-content:space-around;
    margin-top:40px;
}
.regbox a{
    padding:9px 17px;
    background-color:lightgreen;
    border-radius:5px;
}
