body {
    margin:0;
    background-color:#f6f6f6;
}
li{
    list-style:none;
}
.content{
    margin-top:64px;
}
a{
    text-decoration:none;
    color:black;
}
nav{
    position:fixed;
    top:0px;
    width:100%;
    display:flex;
    justify-content:space-between;
    background-color:white;
}
nav img{
    height:100%;
}
.nav{
    display:inline-block;
}
.nav li{
    list-style:none;
    float:left;
    margin:5px 40px;
}
.nav-form{
    padding-top:1.5%;
    margin-right:8%;
    position:relative;
}
.nav-form input:nth-child(2){
    position:absolute;

}
.nav-form div{
    display:inline;
}
footer{
    background-color:white;
    display:flex;
    justify-content:center;
}