body {
    margin:0;
    background-color:white;
}
li{
    list-style:none;
}
.content{
    margin-top:100px;
}
a{
    text-decoration:none;
    color:white;
}
nav{
    position:fixed;
    top:0px;
    width:100%;
    display:flex;
    justify-content:space-between;
    background-color:black;
    z-index:100;
}
nav div:first-child{
    margin-left:2%;
}
nav a{
    text-shadow:4px 4px 5px white;
}
nav img{
    height:100%;
}
.nav{
    display:inline-block;
}
.nav li{
    list-style:none;
    float:left;
    margin:5px 40px;
}
.nav-form{
    padding-top:1.5%;
    margin-right:5%;
    position:relative;
}
.nav-form input[type=text]{
    padding:5px;
}
.nav-form input[type=submit]{
    position:absolute;
    left:196px;
    top:27px;
    background-image:url(../Img/登录注册/search.png);
    background-color:transparent;
    border:none;
    padding:8px;
    background-repeat:no-repeat;
    cursor:pointer;
}
input{
    outline:none;
}

.nav-form div{
    display:inline;
}
footer{
    background-color:white;
    display:flex;
    justify-content:center;
}