        body{
            margin:0;
        }
        .bgimg{
            height:637px;
            overflow:hidden;
            filter:blur(20px);
        }
        .wrap{
            position:absolute;
            left:17%;
            top:20%;
            box-shadow:0 0 5px 0;
            display:flex;
        }
        .wrap>:first-child {
            float:left;
            width:44%;
        }
        .wrap .leftimg img{
            width:100%;
            vertical-align:middle;
        }
        .logo{
            width:48px;
            margin:12px auto
        }
        .form-input{
            float:left;
            width:40%;
            background-color:white;
        }
        .input-box{
            width:90%;
            margin:0 auto;
        }
        .input-box div{
            margin:10px;
            width:90%;
            position:relative;
        }
        .input-box div span{
            position:absolute;
            top:35%;
            left:95%;
        }
        .input-box div input{
            outline:none;
            border:none;
            border-bottom:2px solid lightgray;
            width:100%;
            line-height:2em;
            font-size:1.1em;
            font-family:serif;
        }
        .submit{
            display:flex;
            justify-content:center;
        }
        .submit button{
            border:none;
            background-color:#11bb30;
            padding :10px 30px;
        }