body{
    background-color:#ededed;

}
.content{
    min-height:500px;
}
.wrap{
    display:flex;
    justify-content:center;
}
.leftnav{
    width:16%;
    text-align:center;
    background-color:white;
    border-radius:10px;
    max-height:400px;
}
.leftnav>ul{
    margin-top:16px;
}
.leftnav>div>img{
    width:200px;
}
.leftnav div:first-child{
    padding:8px;
}
.leftnav div:first-child h2{
    margin:0;
}
.leftnav ul li{
    padding:10px 0;
    border-top:1px solid #ebebeb;
}
.leftnav ul li:last-child{
    border-radius:0 0 10px 10px;
}
.leftnav ul li:hover{
    background-color:lightblue;
}
.rightdetail{
    margin-left:1%;
    background-color:white;
    border-radius:10px;
    width:50%;
}
.topbar{
    padding:10px;
    background:linear-gradient(#fff,#f5f5f5);
    border-radius:10px 10px 0 0;
    border-bottom:1px solid #dcdcdc;
    box-shadow:0 1px 7px rgba(0,0,0,0.1);
}
.rightdetail .account .headpor{
    margin:10px;
}
.rightdetail .account .headpor img{
    width:150px;
    border-radius:3px;
}
.rightdetail .account .headpor ul{
    display:inline-block;
    margin-left:5px;
}
.rightdetail .account .detail{
    display:flex;
    margin:10px;
}
.rightdetail .account .detail p{
    margin:10px 10px 10px 0px;
    display:inline-block;
}
.rightdetail .account .detail ul:nth-child(2){
    margin-left:30%;
}
.detailth td{
    padding:10px 20px;
}
