.searchbar{
    width:78%;
    margin:0 auto;
}
.area>div{
    display:inline-block;
    margin-bottom:-4px;
}
.area>div ul li{
    float:left;
}
.result{
    width:78%;
    margin:0 auto;
    margin-top:50px;
    display:flex;
    flex-wrap:wrap;
}
.singleresult{
    display:flex;
    margin-bottom:30px;
    width:50%;
}
.Ssingleresult{
    margin-bottom:30px;
    width:47%;
}
.Ssingleresult div:first-child span:nth-child(2){
    float:right;
}
.Ssingleresult div:last-child ul:last-child li:last-child button{
    float:right;
}
.result .Ssingleresult:nth-child(2n+1){
    margin-right:20px;
}
.singleresult>div:first-child{
    display:flex;
    align-items:center;
}
.singleresult>div:first-child img{
    width:120px;
    height:120px;
    border-radius:50%;
}
.singleresult>div:nth-child(2){
    width:60%;
    margin-left:10px;
}
.pagelist{
    text-align:center;
}