.searchbar{
    width:78%;
    margin:0 auto;
    background-color:#f7f5f5;
    padding:10px;
}
.searchbar div{
    margin-bottom:10px;
}
.area>div{
    display:inline-block;
    margin-bottom:-4px;
}
.area>div ul li{
    float:left;
    margin-right:10px;
    text-align:center;
    padding:0 10px;
}
.area>strong{
    vertical-align:top;
}
.subject{
    margin-left:61px;
}
.area>div ul:first-child li:first-child{
    background-color:beige;
}
.area>div ul li:hover{
    color:orange;
}
.result{
    width:78%;
    margin:0 auto;
    margin-top:50px;
    display:flex;
    flex-wrap:wrap;
}
.singleresult{
    display:flex;
    margin-bottom:30px;
    width:50%;
}
.Ssingleresult{
    margin-bottom:30px;
    width:48%;
}
.Ssingleresult .titletime{
    margin-bottom:10px;
}
.result .Ssingleresult:nth-child(2n+1){
    margin-right:40px;
}
.Ssingleresult div:first-child span:nth-child(2){
    float:right;
}
.Ssingleresult div:last-child ul:last-child li:last-child button{
    float:right;
    padding:1px;
}
.singleresult>div:first-child{
    display:flex;
    align-items:center;
}
.singleresult>div:first-child img{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-top:1rem;
}
.singleresult>div:nth-child(2){
    width:60%;
    margin-left:10px;
}
.pagelist{
    text-align:center;
}